body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#uhc-header {
  background: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  border-bottom: 1px solid #eee;
}

#uhc-logo {
  height: 40px;
  margin-right: 12px;
}

#uhc-name {
  font-size: 20px;
  font-weight: bold;
  color: #002d72;
}
